/*header part*/

.header

{background-image: url('../images/Hero-bg.png');
background-repeat: no-repeat;
background-size: auto;}


nav{display: flex;
align-items: center;
justify-content: space-between;
margin: 0px 150px;
}
.btm-prymary{background-color: #4E47FF
    ;border-radius: 10px;
color: white;
height: 48px;
width:132px ;
border: none;
}
.btn{background-color: #4E47FF
    ;border-radius: 10px;
color: white;
height: 48px;
width:132px ;
margin: 0px 0px 50px 0px;
border: none;
}

.normal-font {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;} 
 .normal{color:#4E47FF;
  margin-top: 50;
font-size: 36px;
font-weight: bolder;}
.banner
{text-align: center;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-weight: bold;
}
.raleway-prymary{font-size: 35px;
  margin: 100px 0px 0px 0px;
  }
/*main part*/
.second-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 20px;
  border: 2px solid #dbe3f2;
  border-radius: 8px;
  margin: 40px 0;
  padding: 20px 50px;
  margin-top: 100px;
}
.main{max-width: 1140px;
        margin: 0px auto;}
   .images
        {border-radius: 48px;}
  .Launch-Live-Preview {width: 229px;
  height: 48px;} 
  
  .projects{
    text-align: center;
    background-color: #E5E7FF;
    max-width: 1140px;
    height: 332px;
    border-radius: 10px;
    margin: auto;
    padding: 40px 20px;
    margin-top: 116px;
  }
  .container
  {display: flex;
    justify-content: space-between;
  }
  .head{
    font-size: 80px;
    color: #4E47FF;
    margin-top: 40px;
    padding:0px 60px ;
  }
  .active
  {font-size: 16px;
    color: #000000;
    margin-top: none;
    margin-bottom: 50px;

  }
  .productive{
    color: #252432;
    width: 856px;
    height: 45px;
    font-weight: bold;
    font-size: 38px;
  }
  /* card part*/

  


